
:root {

    --principal-height: 400px;


    --inicializador-align-items: center;

    --str-left : 25%;
    --nulo-left : -25%;
    --str-nulo-top: 0;


    --rotation-angle-fpi: 0deg;

    --linea-flecha-inicial-width : 0px;
    --linea-flecha-inicial-left: 0px;
    --linea-flecha-inicial-top: 0px;
    --linea-flecha-inicial-transform-origin: left;
  
    --punta-flecha-inicial-width : 0px;
    --punta-flecha-inicial-left: 0px;
    --punta-flecha-inicial-top: 0px;


    --rotation-angle-fpf: 0deg;

    --linea-flecha-final-width: 0px;
    --linea-flecha-final-left: 0px;
  
    --punta-flecha-final-width: 0px;
    --punta-flecha-final-top: 0px;
    --punta-flecha-final-left: 0px;
}



#inicializador {
    position: relative;
    display: flex;
    top:-400px;
    width: 100%;
    height: 400px; 
    align-items: var(--inicializador-align-items);
    justify-content: space-between; 
    pointer-events: none;
   }
  
  
   #str, #nulo {
    position: relative;
    top: var(--str-nulo-top);
    transition-property: left, top; 
    transition-duration: 2s, 2s;
  }
  
  
  #str { 
    left: var(--str-left);
  }
  
  #nulo {
    left: var(--nulo-left);
  }
  
  
  
  
  #flecha_puntero_inicial, #flecha_puntero_final{
    position: absolute;
    left : 0;
    margin: 0;
    
  }
  
  
  #flecha_puntero_inicial .underline{
    position: absolute;
    top: var(--str-nulo-top);
    left: var(--linea-flecha-inicial-left); 
    width: var(--linea-flecha-inicial-width);
    transform-origin: var(--linea-flecha-inicial-transform-origin);
    transform : rotate(var(--rotation-angle-fpi));
    transition-property: width, transform, left, top;
    transition-duration: 2s, 2s, 2s, 2s;
  
  }
  
  
  
  
  #flecha_puntero_final .underline{
    position: absolute;
    top: var(--linea-flecha-final-top);
    left: var(--linea-flecha-final-left);
    width: var(--linea-flecha-final-width);
    transform :rotate(var(--rotation-angle-fpf));
    transition-property: width, transform, left, top;
    transition-duration: 2s, 2s, 2s, 2s;
  }
  

  .flecha_puntero__lista-vacia {
    transition-property: width, transform, left, top !important;
    transition-duration: 2s, 0s, 0s, 0s !important;
  }



  #flecha_puntero_inicial .linea-i, #flecha_puntero_inicial .linea-s {
    position: absolute;
    margin: 0px 0px;
    left: var(--punta-flecha-inicial-left);
    top: var(--punta-flecha-inicial-top); 
    width: var(--punta-flecha-inicial-width);
  }
  
  #flecha_puntero_final .linea-i, #flecha_puntero_final .linea-s {
    position: absolute;
    margin: 0px 0px;
    left: var(--punta-flecha-final-left) ;
    /* top: var(--str-nulo-top); */
    top: calc(var(--str-nulo-top) + 7.5px);
    width: var(--punta-flecha-final-width);
  }

  #flecha_puntero_inicial .linea-s, #flecha_puntero_final .linea-s{

    transform: rotate(calc(var(--rotation-angle-fpi) + 225deg)) ;
  }

  #flecha_puntero_inicial .linea-i, #flecha_puntero_final .linea-i{

    transform: rotate(calc(var(--rotation-angle-fpi) + 135deg));
  }


  #flecha_puntero_inicial .linea-s{

    transform: rotate(calc(var(--rotation-angle-fpi) + 225deg)) ;
  }

  #flecha_puntero_inicial .linea-i{

    transform: rotate(calc(var(--rotation-angle-fpi) + 135deg));
  }

  #flecha_puntero_final .linea-s{

    transform: rotate(calc(var(--rotation-angle-fpf) + 225deg)) ;
  }

  #flecha_puntero_final .linea-i{

    transform: rotate(calc(var(--rotation-angle-fpf) + 135deg));
  }